<div class="container">
    <div class="user-details">
        <h3> About Me </h3>
    </div>
    <p>Hi! I'm a 2nd year student at Wright State University. I'm currently pursing my B.S. in Computer Science, 
    but I plan to get my M.S. focusing on Intelligent Systems, Data Science, or Software Engineering. I've loved mostly everything
    dealing with computers since I was little, but then my need for explainations on why everything works got the best of me. So, I went to
    Miami Valley Career Technology Center for Network Engineering, which then lead me to Computer Science eventually. In my free time I like to
    cook, take walks and/or runs, and code.</p>
</div>