<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>

  <div class="row user-projects">
    <div class="six columns contents">
      <h5> RaiderPlanner </h5>
      <ul>
        <li> Java </li>
      </ul>
      <p>A study planner for Wright State University students.</p>
      <a class="project-link" href="https://github.com/aar118/RaiderPlanner">Check it out</a>
    </div>
    <div class="six columns images">
      <img src="{{ "/assets/img/raiderplanner.png" | prepend: site.baseurl }}" />
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/potatogame.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns contents">
      <h5> The Cosmic Potato </h5>
      <ul>
        <li> JavaScript, AngularJS, Angular Material </li>
      </ul>
      <p>Who doesn't love potatoes? Embark on a journey through the universe enhancing your galactic potato kingdom!</p>
      <a class="project-link" href="http://aaronha.me/potatogame">Check it out</a>
    </div>
  </div>
</div>
